@charset "UTF-8";
/* CSS Overrides Top Start */
@import url('/Styles/styles-v2/icons/fontawesome-icon.css?v=4232385967');
@import url('/Styles/styles-v2/icons/fontawesome-solid.css?v=4137481333');
/* CSS Overrides Top End */


/* CSS Overrides Bottom Start */
:root {
    --base-primary: #005DD7;
    --logo-image: url('/Themes/VRL Uplands 2026/Assets/Images/logo.svg');
    --site-og-fallback: url('/Themes/VRL Uplands 2026/Assets/Images/logo.svg');
    --base-primary2: #005DD7;
    --logo-image2: url('/Themes/VRL Uplands 2026/Assets/Images/logo.svg');
    --site-og-fallback2: url('/Themes/VRL Uplands 2026/Assets/Images/logo.svg');
}
/* CSS Overrides Bottom End */
